<h1>Welcome to the coupons page!</h1>

<ul>
<% @coupons.each do |coupon| %>
  <li><%= coupon.coupon_code %> for store <%= coupon.store %> with <%= link_to coupon.coupon_code, coupon_path(coupon) %></li>
<% end %>
</ul>
