<h1>Coupon Form</h1>

<form class="new_coupon" id="new_coupon" action="/coupons" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="DLR8yBEKCGLsVVZpjZFGKq6EgwFRf0RCWSuU4F1dkioVnCsGOg6CKW/lOnH677/ywGMebN3dIUdIYeWESPQpcg==" />

  <div class="field">
    <label for="coupon_coupon_code">Coupon code</label>
    <input type="text" name="coupon[coupon_code]" id="coupon_coupon_code" />
  </div>

  <div class="field">
    <label for="coupon_store">Store</label>
    <input type="text" name="coupon[store]" id="coupon_store" />
  </div>

  <div class="actions">
    <input type="submit" name="Submit Coupon" value="Submit Coupon"  />
  </div>
</form>

<a href="/coupons">Back</a>
