<h3>Coupon Form</h3>
<h4>Create A New Coupon Code</h4>
<%= form_tag coupons_path do %>
    <label>Code:</label>
    <%= text_field_tag :coupon_code %>
    <br>
    <label>Store:</label>
    <%= text_field_tag :store %>
    <br>
    <%= submit_tag "Submit Coupon" %>
<% end %>
