<h1><%= @coupon.coupon_code %></h1><br>
<h1><%= @coupon.store %></h1><br>
<p><%= link_to "Add New Coupon", controller: "coupons", action: "new" %></p>
<p><%= link_to "See all coupons", controller: "coupons", action: "index" %></p>
